<lui-file-explorer [data]="fileData()" />
<hr />
<button type="button" (click)="onGoBack()">&lt; Back</button>

@for (
  breadcrumb of breadcrumbs();
  let last = $last;
  let index = $index;
  let length = $count;
  track breadcrumb.id
) {
  <button
    type="button"
    [disabled]="index === length - 1"
    (click)="onBreadcrumbClick(index)"
  >
    {{ breadcrumb.name }}
  </button>
  @if (!last) {
    <span>/</span>
  }
}

<lui-finder
  [data]="finderData()"
  (openFile)="onOpenFile($event)"
  (openFolder)="onOpenFolder($event)"
/>
